@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-top: 5px;
  margin-bottom: 15px;
}

p {
  line-height: normal;
  margin-bottom: 5px;
}

/* Header  */

body {
  height: auto;
  min-height: 100vh;
}

.header {
  position: fixed;
  width: 100%;
  height: 80px;
  padding: 10px 20px;
  background-color: rgb(241, 246, 255);
  border-bottom: 2px solid blue;
  z-index: 99;
  top: 0;
}

.logo > img {
  height: 60px;
}

.menu {
  position: absolute;
  height: fit-content;
  width: fit-content;
  top: 0;
  bottom: 0;
  right: 20px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.menu > li {
  display: inline-block;
  background-color: blue;
  min-width: 100px;
  padding: 10px 35px;
  border-radius: 5px;
  margin-left: 10px;
}

.menu > li a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

/* Main */
.main {
  position: relative;
  margin-top: 80px;
  padding: 10px 20px;
}

.post {
  background-color: rgb(252, 207, 207);
  padding: 20px 20px;
  margin: 20px 0;
  border-radius: 5px;
}

/* Footer */
.footer {
  position: relative;
  width: 100%;
  height: 50px;
  bottom: 0;
  padding: 17px 20px;
  background-color: blue;
}

.footer p {
  text-align: center;
  height: 16px;
  color: whitesmoke;
}
